.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  height: 100%;
}
body {
}
.content {
  width: 100%;
}
.progress-bar {
  margin: 8px;
}
.progress-bar-wrapper {
  height: 24px;
  display: flex;
}
.button-group {
  display: block;
}
.button-group-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 8px;
}
.part-select-card {
  width: 100%;
}

.summary-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 8px;
  width: 100%;
  align-items: center;
  min-height: 200px;
}
